.comidarapida{
    color: crimson;
    font-size: 25px;
}
.comidaherrera{
    color: darkgoldenrod;
    font-size: 30px;
}
.pparrafo{
    color: darkorchid;
}
.lista{
    color: greenyellow;
    font-size: 50px;
}
.link1{
    color: mediumturquoise;
}
.sunombre{
    color: navy;
    font-size: 82px;
}