*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.rojo{
background-color: red;
width: 100%;
height: 200px;
}

.verde{
    background-color: green;
    width: 100%;
    height: 200px;
}

.azult{
    background-color: blue;
    width: 100%;
    height: 200px;
    position: sticky;
    top: 0;
}

.azul{
    background-color: blue;
    width: 100%;
    height: 200px;
}

.amarillo{
    background-color: yellow;
    width: 100%;
    height: 200px;
}


.violeta{
    background-color: violet;
    width: 100%;
    height: 200px;
}